    html {
        font-family: 'coldesac', sans-serif;
    }

    /* Estilos para el encabezado */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #0077b6;
      color: #fff;
    }
    .header h1 {
      margin: 0;
    }
    .header img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    .header p {
      margin: 0;
    }

    /* Estilos para los campos principales */
    .main-fields {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 20px 0;
    }
    .main-fields .left {
      flex: 1;
      margin-right: 20px;
    }
    .main-fields .left img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
    .main-fields .right {
      flex: 2;
    }
    .main-fields .right h2 {
      margin: 0 0 10px 0;
    }
    .main-fields .right p {
      margin: 0 0 10px 0;
    }
    .main-fields .right ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .main-fields .right ul li {
      margin-bottom: 10px;
    }

    /* Estilos para los enlaces */
    .links {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }
    .links a {
      display: inline-block;
      padding: 10px;
      background-color: #0077b6;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }

    /* Estilos para la firma */
    .signature {
      display: flex;
      justify-content: flex-end;
      margin: 20px 0;
    }
    .signature img {
      width: 150px;
      height: 50px;
      object-fit: cover;
    }